@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

body {
    font-family: 'danielblack';
}

p {
  text-align: center;
  font-size: 1.5em;
}

.craving-middle, .craving-top {
    text-align: center;
    font-size: 3rem;
}

.craving-middle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.craving-top {
    margin: 0 auto;
    display: block;
}

.craving-middle input, .craving-top input {
    width: 250px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(46, 125, 225, .2);
    padding: 5px 10px 5px;
    font-size: 3rem;
    font-family: 'Lato';
    font-weight: 300;    
    color: rgb(46, 125, 225);
    text-align: center;
}

::-webkit-input-placeholder {
   color: rgba(46, 125, 225, .2);
   text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
   color: rgba(46, 125, 225, .2);  
   text-align: center;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(46, 125, 225, .2);  
   text-align: center;
}
:-ms-input-placeholder {  
   color: rgba(46, 125, 225, .2);  
   text-align: center;
}

.container {
  background-color: yellow;
  height: 100px;
  display: none;
}

/*
.question {
  margin-top: 100px;
}
*/

.emphasis {
  color: #00AE8D;
  font-size: 1.7rem;
}

.indicators-box {
  margin: 0 auto;
  width: 60%;
}

.icon, question {
    margin: 0;
    text-align: center;
}

.image {
  display: block;
  margin: 0 auto;
  width: 40%;
  height: 120px;
}

.icon:hover {
    opacity: .5;
}

img {
  width: 100%;
  height: 100%;
}

.money-unselected {
  background: url(/img/money.svg) center top no-repeat;
}
.money-selected {
  background: url(/img/moneySelected.svg) center top no-repeat;
}
.time-unselected {
  background: url(/img/time.svg) center top no-repeat;
}
.time-selected {
  background: url(/img/timeSelected.svg) center top no-repeat;
}
.frequency-unselected {
  background: url(/img/frequency.svg) center top no-repeat;
}
.frequency-selected {
  background: url(/img/frequencySelected.svg) center top no-repeat;
}

.approx {
  margin-left: 40px;
  float: left;
  font-size: 1.4em;
}

.qty, .controls {
  font-family: 'Lato';
  font-weight: 300;
  color: rgb(46, 125, 225);
}

.qty {
  margin-left: 5px;
}

.controls {
  margin-top: -1px;
  margin-left: 10px;
  display: inline-block;
  font-size: 1.2em;
}

.plus, .minus {
    cursor: pointer;
}

/* 
FIX: border-image in the time box
FIX: center .indicator boxes
*/

/*
.indicator:nth-child(2) {
  -webkit-border-image: url(../img/line.svg) 30 100 stretch;
  -o-border-image: url(../img/line.svg) 30 100 stretch;
  border-image: url(../img/line.svg) 30 100 stretch;
}
*/



