@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

body {
  font-family: 'danielblack';
}

p {
  text-align: center;
  font-size: 1.5em;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%
}

.view-wrapper {
  min-height: 100%;
  position: relative;
}

.content {
  padding-bottom: 100px;
}

header {
  padding-top: 30px;
}

footer {
  margin-right: 50px;
  height: 80px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.back, .done {
  display: none;
}

.craving {
    text-align: center;
    font-size: 3rem;
}
.craving-top {
    margin: 0 auto;
    display: block;
    
}
.craving-mid {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.craving-mid input, .craving-top input {
    width: 250px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(46, 125, 225, .2);
    padding: 5px 10px 5px;
    font-size: 3rem;
    font-family: 'Lato';
    font-weight: 300;    
    color: rgb(46, 125, 225);
    text-align: center;
}

::-webkit-input-placeholder {
   color: rgba(46, 125, 225, .2);
   text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
   color: rgba(46, 125, 225, .2);  
   text-align: center;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(46, 125, 225, .2);  
   text-align: center;
}
:-ms-input-placeholder {  
   color: rgba(46, 125, 225, .2);  
   text-align: center;
}

.emphasis {
  color: #00AE8D;
  font-size: 1.7rem;
}

.indicators-box {
  margin: 0 auto;
  width: 60%;
}

.icon, question {
    margin: 0;
    text-align: center;
}

.image {
  display: block;
  margin: 0 auto;
  width: 40%;
  height: 120px;
}

.icon:hover {
    opacity: .5;
}

img {
  width: 100%;
  height: 100%;
}

.money-unselected {
  background: url(/img/money.svg) center top no-repeat;
}
.money-selected {
  background: url(/img/moneySelected.svg) center top no-repeat;
}
.time-unselected {
  background: url(/img/time.svg) center top no-repeat;
}
.time-selected {
  background: url(/img/timeSelected.svg) center top no-repeat;
}
.frequency-unselected {
  background: url(/img/frequency.svg) center top no-repeat;
}
.frequency-selected {
  background: url(/img/frequencySelected.svg) center top no-repeat;
}

.approx {
  margin-left: 40px;
  float: left;
  font-size: 1.4em;
  width: 190px;
}

.qty, .controls, .navigation {
  font-family: 'Lato';
  font-weight: 300;
  color: rgb(46, 125, 225);
}

.qty {
  margin-left: 5px;
}

.controls {
  margin-top: -1px;
  margin-left: 10px;
  display: inline-block;
}

.plus, .minus {
  cursor: pointer;
}

.navigation ul {
  list-style: none;
}

.navigation ul li {
  display: inline-block;
}

.nav {
  text-decoration: none;
  color: rgb(46, 125, 225);
  font-size: 1.4em;
  cursor: pointer;
}
.nav:hover {
    opacity: .5;
}

.arrows {
}

.hidden {
  background-color: yellow;
  display: none;
}

/* 
FIX: border-image in the time box
FIX: center .indicator boxes
*/

/*
.indicator:nth-child(2) {
  -webkit-border-image: url(../img/line.svg) 30 100 stretch;
  -o-border-image: url(../img/line.svg) 30 100 stretch;
  border-image: url(../img/line.svg) 30 100 stretch;
}
*/



