@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

body {
    font-family: 'danielblack';
}

p {
  text-align: center;
  font-size: 1.5em;
}

.craving-middle, .craving-top {
    text-align: center;
    font-size: 3rem;
}

.craving-middle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.craving-top {
    margin: 0 auto;
    display: block;
}

.craving-middle input, .craving-top input {
    width: 250px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(46, 125, 225, .2);
    padding: 5px 10px 5px;
    font-size: 3rem;
    font-family: 'Lato';
    font-weight: 300;    
    color: rgb(46, 125, 225);
    text-align: center;
}

::-webkit-input-placeholder {
   color: rgba(46, 125, 225, .2);
   text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
   color: rgba(46, 125, 225, .2);  
   text-align: center;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(46, 125, 225, .2);  
   text-align: center;
}
:-ms-input-placeholder {  
   color: rgba(46, 125, 225, .2);  
   text-align: center;
}

.container {
  background-color: yellow;
  height: 100px;
  display: none;
}

.question {
  margin-top: 100px;
}

.emphasis {
  color: #00AE8D;
  font-size: 1.7rem;
}

.indicator-box {
  margin: 0 auto;
  width: 60%;
}

.indicator {
    margin: 0;
    text-align: center;
}

.image {
  display: block;
  margin: 0 auto;
  width: 40%;
}

img {
  width: 100%;
  height: 100%;
}



/* 
FIX: border-image in the time box
FIX: center .indicator boxes
*/

/*
.indicator:nth-child(2) {
  -webkit-border-image: url(../img/line.svg) 30 100 stretch;
  -o-border-image: url(../img/line.svg) 30 100 stretch;
  border-image: url(../img/line.svg) 30 100 stretch;
}
*/



