<header>
  <div class="craving name-{{ position }}">
    My name is <input type="text" placeholder="ex. Marcelus" ng-keydown="nameInput($event)" ng-model="name" style="width: {{ cravingWidth }}px">
  </div>
  <div class="craving craving-{{ position }}">
    I am craving to <input id="craving" type="text" placeholder="ex. eat out" ng-keydown="cravingInput($event)" ng-model="craving" style="width: {{ cravingWidth }}px">
  </div>
</header>

<div class="content" ng-class="{hidden:contentHide}">
  <div class="grid">
    <div class="grid_col grid__col--10-of-12 grid__col--centered">
      <p class="question">When you {{ craving }}, what are you <span class="emphasis">{{ label }}</span> with?</p>
    </div>
  </div>
  
  <div class="indicators-box">
    <div class="grid icons">
      <div class="grid__col grid__col--4-of-12 icon">
        <div class="image money-{{ indicators.money.state }}" ng-click="select('money')">
        </div>
      </div>
      <div class="grid__col grid__col--4-of-12 icon">
        <div class="image time-{{ indicators.time.state }}" ng-click="select('time')">
        </div>
      </div>
      <div class="grid__col grid__col--4-of-12 icon">
        <div class="image frequency-{{ indicators.frequency.state }}" ng-click="select('frequency')">
        </div>
      </div>
    </div> <!-- end of .icons -->
    <div class="grid questions">
      <div class="grid__col grid__col--4-of-12 question">
        <p>how much</p>
        <div ng-class="{ hidden:indicators.money.controls }">
          <div class="approx">
            around
            <span class="qty" ng-model="money">{{ states[currentState].money | currency}}</span>
          </div>
          <div class="controls">
            <div class="plus" ng-click="modify('more', 'money', currentState)">&plus;</div>
            <div class="minus" ng-click="modify('less', 'money', currentState)">&minus;</div>
          </div>
        </div>
      </div>

      <div class="grid__col grid__col--4-of-12 question">
        <p>how long</p>
        <div ng-class="{ hidden:indicators.time.controls }">
          <div class="approx">
            around
            <span class="qty" ng-model="time">{{ states[currentState].time | HrsMins }}</span>
          </div>
          <div class="controls">
            <div class="plus" ng-click="modify('more', 'time', currentState)">&plus;</div>
            <div class="minus" ng-click="modify('less', 'time', currentState)">&minus;</div>
          </div>
        </div>
      </div>
      
      <div class="grid__col grid__col--4-of-12 question">
        <p>how often</p>
        <div ng-class="{ hidden:indicators.frequency.controls }">
          <div class="approx">
            every
            <span class="qty" ng-model="frequency">{{ states[currentState].frequency }}</span>
            </div>
          <div class="controls">
            <div class="plus" ng-click="modify('more', 'frequency', currentState)">&plus;</div>
            <div class="minus" ng-click="modify('less', 'frequency', currentState)">&minus;</div>
          </div>
        </div>
      </div>
    </div> <!-- end of .questions -->
  </div> <!-- end of .indicators-box -->
</div>

<footer>
  <div class="navigation">
    <ul>
      <li><a ng-click="start()" ng-class="{hidden:startHide}" class="nav start">start <span class="arrows">&gt;</span></a></li>
      <li><a ng-click="next()" ng-class="{hidden:nextHide}"class="nav next">next <span class="arrows">&gt;</span></a><li>
      <li><a ng-click="back()" ng-class="{hidden:backHide}" class="nav back"><span class="arrows">&lt</span> back</a><li>
      <li><a ng-click="" ng-class="{hidden:doneHide}"class="nav done">done <span class="arrows">&gt;</span></a><li>
    </ul>
  </div>
</footer>

