<div class="craving-middle">I am craving to <input type="text" placeholder="ex. eat out" dynamicInput="" ng-model="craving"></div>

<div class="craving-top">I am craving to <input type="text" placeholder="ex. eat out" dynamicInput="" ng-model="craving"></div>

<div class="grid">
  <div class="grid_col grid__col--10-of-12 grid__col--centered">
    <p class="question">When you {{ craving }}, what are you <span class="emphasis">not okay</span> with?</p>
  </div>
</div>

<div class="indicators-box">
  <div class="grid icons">
    <div class="grid__col grid__col--4-of-12 icon">
      <div class="image money-{{ moneyState }}" ng-click="select('money')">
      </div>
    </div>
    <div class="grid__col grid__col--4-of-12 icon">
      <div class="image time-{{ timeState }}" ng-click="select('time')">
      </div>
    </div>
    <div class="grid__col grid__col--4-of-12 icon">
      <div class="image frequency-{{ frequencyState }}" ng-click="select('frequency')">
      </div>
    </div>
  </div> <!-- end of .icons -->
  <div class="grid questions">
    <div class="grid__col grid__col--4-of-12 question">
      <p>how much</p>
      <div class="approx">
        around
        <span class="qty">$25</span>
      </div>
      <div class="controls">
        <div class="plus">&plus;</div>
        <div class="minus">&minus;</div>
      </div>
    </div>
    <div class="grid__col grid__col--4-of-12 question">
      <p>how long</p>
      <div class="approx">
      	around
        <span class="qty">1h 30m</span>
      </div>
      <div class="controls">
        <div class="plus">&plus;</div>
        <div class="minus">&minus;</div>
      </div>
    </div>

    <div class="grid__col grid__col--4-of-12 question">
      <p>how often</p>
      <div class="approx">
        every
        <span class="qty">hour</span>
      </div>
      <div class="controls">
        <div class="plus">&plus;</div>
        <div class="minus">&minus;</div>
      </div>
    </div>
  </div> <!-- end of .questions -->
</div> <!-- end of .indicators-box -->

